{namespace JIRA.Templates.Slomo}

/**
*/
{template .slomoUi}
<div id="slomo-ui">
    <h3>Slo Mo</h3>
    <form id="slomo-form" class="ajs-dirty-warning-exempt" action="">
        <div>
            <input id="slomo-val" name="value" class='description' type="range" min="0" step="10" max="2000"/>
            <input id="slomo-submit" type="submit" class='aui-button' value='Slow down!'/>
            <input id="slomo-reset" type="button" class='aui-button' value='Reset'/>
        </div>
    </form>
</div>
{/template}